<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="dataset"  default="no_data"/>
  <arg name="debug"    default="false" />
  <arg name="rviz"     default="true" />



  <param name="project_dir" type="string" value="$(find datasets_thesis)"/>

  <param name="dataset_config_file" type="string" value="$(find datasets_thesis)/datasets/$(arg dataset)_config.json"/>
  <rosparam command="load" file="$(find surfelwarp)/config/config.yaml"/>

  <node pkg="tf" type="static_transform_publisher" name="surfel_link_broadcaster" args="1 0 0 0.71, 0, 0, 0.71 map point_cloud_frame 100" />

  <group unless="$(arg debug)" >

      <node
      	pkg="surfelwarp" 
      	name="surfelwarp_app" 
      	type="surfelwarp_app" 
      	output="screen">
      </node> 
  </group>

    <!-- Launch RViz with the demo configuration -->
  <group if="$(arg rviz)" >
    <node 
      name="rviz" 
      pkg="rviz" 
      type="rviz" 
      args="-d $(find surfelwarp)/config/rviz.rviz" >
    </node>
  </group>

</launch>
